.container {
    --vote: 0;
    --color: hsl(12, 100%, 67%);

    border: 0;
    width: 300px;
    background-color: white;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px;
    font-family: inherit;
    font-weight: bold;
    margin: 0 auto;

    background: linear-gradient(0, var(--color) 0%, var(--color) var(--vote), white var(--vote), white 100%);

    img {
        width: 270px;
        height: 270px;
        object-fit: cover;
        background-color: gray;
    }

    h2 {
        margin: 0;
    }
}